<% if resource.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h2>
    <ul>

      <div class="message is-warning">

        <% resource.errors.full_messages.each do |msg| %>
          <div class="message-header">
            <li><%= msg %></li>
          </div>
        <% end %>

      </div>

    </ul>
  </div>
<% end %>

<%# for the login page %>
<% flash.each do |name, msg| %> <%# shows login error messages %>
  <div class="message is-danger" >
    <div class="message-header">
      <p> <%= msg %> </p>
    </div>
  </div>
<% end %> 