<% subreddits = current_user.subreddits.last(4) %> 

<div class="columns is-centered">

  <% subreddits.each do |sub| %>
    <div class="column is-2 subreddit-card">
      <p> <%= sub.title %> </p>
    </div>
  <% end %>

</div>
