<div class="conversation-container">

  <% @chats.each_with_index do |chat, index| %>

    <%= image_tag get_avatar(@receivers[index]), :class => "user_listing_pfp" %>
    <%= link_to @receivers[index].username, profile_path(@receivers[index].username), 
    :class => "black" %>

    <h5> 
      <% break if chat.messages.length <= 0 %>
      <%= link_to chat.messages.last.content, 
      "#{chat_path}?sender=#{current_user.id}&receiver=#{@receivers[index].id}", 
      :class => "black" %> 
    </h5>

  <% end %>
</div>