<% @comment = Comment.find(comment_id) %>
<% @user = @comment.user %>
<% avatar = 'default.png' %>
<% avatar = url_for(@user.avatar) if @user.avatar.persisted? %>

<div class="comment">
  <%= image_tag avatar, :class => "comment_listing_pfp" %>
  <%= link_to "#{@user.username}", profile_path(@user.username), :class => "black" %>
  <br />
  <p> <%= @comment.body %> </p>
</div>