/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url("https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css");

 body { 
   margin: 0;
 }

 .columns { 
   display: flex;
   width: 100%;
 }

 .is-three-fifths { 
   width: 60%;
 }

 .is-one-quarter { 
   width: 25%;
 }

 .is-multiline { 
   flex-wrap: wrap;
 }

nav {
    height: 15%;
    width: 100%;
    font-family: "Helvetica Neue", Lato;
    background: #333333; 
    margin-top: 0px;
    text-align: center;
}

nav a { 
  color: #EEEEEE;
  font-size: 1.25em;
}

#profile, #search_form, .inline-text, #home { 
  display: inline;
}

#home img {
  height: 48px; 
  width: 48px;
}

#profile img { 
  height: 48px; 
  width: 48px;
  border-radius: 25%; 
  display: inline;
  margin-right: 1%;
}

/* Style navigation menu links */
.topnav a, #profile p {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#logo { 
  float: left;
}

#logo-text { 
  color: white; 
  font-family: Lato;
  display: inline;
}


#query { 
  margin: auto;
  width: 30%;
  border-radius: 10px;
  height: 1.5em;
}



.subreddit-card:hover { 
  cursor: pointer;
}

#login-container { 
    width: 80%; 
    height: 100%; 
    margin: auto;
}

.sign_in_field:focus { 
    border-color: lightblue; 
    border-width: 2px; 
    border-style: solid;
}

#nav_pic { 
    height: 24px; 
    width: 24px;
    float: left;
}

#profile_pic { 
    object-fit: cover;
    width: 80px;
    height: 80px;
    border-radius: 5%;
    position: relative; 
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}

#right_bar  { 
    margin-left: 60%;
    width: 30%; 
    height: 50%;
}

#header {
  position: relative;
  height: 100px;
  background: #1DA1F2;
  cursor: pointer;
}


body {
  font-family: "Open Sans", Helvetica;
}



label {
  display: block;
  letter-spacing: 4px;
  padding-top: 30px;

}

label .label-text {
  color: #9B9B9B;
  cursor: text;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  -moz-transform: translateY(-34px);
  -ms-transform: translateY(-34px);
  -webkit-transform: translateY(-34px);
  transform: translateY(-34px);
  transition: all 0.3s;
}
label input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #4A4A4A;
  color: #333;
  font-size: 36px;
  letter-spacing: -1px;
  outline: 0;
  padding: 5px 20px;
  text-align: center;
  transition: all 0.3s;
  width: 200px;
}
label input:focus {
  max-width: 100%;
  width: 400px;
}
label input:focus + .label-text {
  color: #333;
  font-size: 13px;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}
label input:valid + .label-text {
  font-size: 13px;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}

button {
  background-color: #333333;
  border: 2px solid white;
  border-radius: 27px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: all 200ms;
}

button:hover, button:focus {
  background-color: white;
  color: #333333;
  outline: 0;
}

.full_width { 
  width: 100%;
}

#subreddit_banner { 
  width: 100%; 
  height: 192px;
}

.post-body * { 
  max-height: 40vh; 
  max-width: 40vh;
}

#subreddit-pages { 
  height: 20%; 
  background:white;
}

#subreddit-pages * { 
  display: inline;
}

#subreddit-body { 
  justify-content: center;
  margin-top: 5vh;
}

#subreddit-title { 
  margin-left: 25%; 
  font-family: Lato;
  font-size: 1.5em;
}

#join_button { 
  color: white;
  background: #004880;
  font-size: 1.25em;
  border-radius: 10%;
}

.post-header { 
  margin-bottom: 2%;
}

.post-username { 
  color: gray; 
  font-size: 0.75em;
  display: block;
}

.post-link, .post-body * { 
  color: black;
}

.post-body { 
  margin-top: 2%;
}

.post-link { 
  font-size: 1.25em;
}

.description-body, .post-header, .post-content { 
  background: white;
}

figure img { 
  display: block;
}

#description-header, #moderator-header, #bio-header { 
  background: #2f6ba3;
  height: 3em;
  position: relative;
}

#moderator-header { 
  margin-bottom: 5%;
}

#about-community, #moderator-header h3, #about-me { 
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}

#subreddit-description, #bio-text { 
  margin-top: 5%;
  font-family: Lato;
  word-wrap: break-word;
}

#moderator-header { 
  background: #2f6ba3;
  position: relative;
}

#post-list, #user-list { 
  display: none;
}

.circular_sub_icon { 
  height: 5vh; 
  width: 5vh; 
  border-radius: 50%;
}

figure { 
  max-height: 25vh; 
  max-width: 25vh;
}

#post-list { 
  width: 60%; 
  margin-left: 20%;
  margin-right: 20%;
}

.post-header { 
  margin-bottom: 0px;
}

.post-header a, .user-bio { 
  color: #4A4A4A;
}

.post_title { 
  font-family: Arial, Lato; 
  font-size: 1.25em; 
  color: black;
  text-decoration: none;
  margin-left: 5vh;
}

#subreddit-list, #post-list, #user-list { 
  margin-top: 5vh;
}

.post-content { 
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
 
.post-content * { 
  margin-bottom: 10vh;
}

.post-content img, .post-content figure video { 
  width: 100%;
  object-fit: cover;
}

.user_listing_pfp { 
  height: 8vh; 
  width: 8vh; 
  border-radius: 50%;
  margin-right: 1%;
}

.comment_listing_pfp { 
  height: 6vh; 
  width: 6vh; 
  border-radius: 50%; 
  margin-right: 2%;
}

.black { 
  color: black;
}

.white-text { 
  color: white;
  font-size: 1.25em;
  margin-top: 50%;
}

.profile-container { 
  justify-content: space-between; 
  width: 80%; 
  margin: auto;
}

.trix-content * { 
  display: block;
  margin-bottom: 5vh;
}

.msg-form {
  position: fixed;
  bottom: 0;
  width: 90%
}

.col-md-10 {
  height: 100vh;
  overflow: scroll;
}

.msg-content {
  width: 80%;
  margin-right: 5px;
}

.message-box {
  width: fit-content;
  max-width: 40%;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #555555 ;
  padding: 10px
}

.comment { 
  font-family: sans-serif; 
}

.conversation-container { 
  margin: auto; 
  width: 80%;
  margin-top: 1%;
}

.error-message-box { 
  color: #cc0f35; 
  border-color: #f14668;
}

.subreddit-card { 
  border-style: solid; 
  border-width: 0px;
  border-radius: 5%;
  height: 30vh;
  box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, .5)
}

.subreddit-card background { 
  filter: brightness(50%);
}

.upvote-column { 
  margin-left: 10%;
  text-align: center;
}

a .fa-arrow-up, a .fa-arrow-down { 
  color: gray;
}

.upvoted { 
  color: orangered !important;
}

.downvoted { 
  color: blue !important;
}

#new_comment textarea{ 
  width: 100%;
}