<div style="text-align: center;">
  <%= form_with url: "/search", :id => 'search_form', :placeholder => "Find Something!", data: { turbo: false } do |form| %>
    <%= form.text_field :query, :id => "query" %>
    <%= form.submit 'ðŸ”', :id => :search_button %>

  <% end %>
</div>