<% post = Post.find(post_id) %>
<% blobs = post.content.embeds.blobs %>
<div class="post-header">

  <%= link_to "Posted by u/#{post.user.username}", profile_path(post.user.username),
  :class => "post-username" %>
  <%= link_to post.title, post_path(post.id), :class => "post-link" %> 

  <div class="post-body">
    <% blobs.each do |blob| %>
      <%= render :partial => "blob", :locals => {:blob => blob.id} %>
    <% end %>
  </div>

</div>
