<% user = User.find(user_id) %>
<% avatar = get_avatar(user) %>

<div class="is-three-fifths" style="margin: auto;">
  <%= image_tag avatar, :class => "user_listing_pfp" %>
  <%= link_to "u/#{user.username}", profile_path(user.username), :class => "black" %>
  <p class="user-bio"> <%= user.bio %> </p>
</div>
