<div id="categories">
  <button id="subreddit-category">Subreddits</button>
  <button id="post-category">Posts</button>
  <button id="user-category">Users</button>
</div>

<div id="subreddit-list">

  <% @subreddits.each do |subreddit| %>
    <%= render :partial => "subreddit_listing", :locals => {:subreddit_id => subreddit.id} %>
  <% end %>

</div>

<div id="post-list">

  <% @posts.each do |post| %>
    <%= render :partial => "post_listing", :locals => {:post_id => post.id} %>
  <% end %>

</div>

<div id="user-list">

  <% @users.each do |user| %>
    <%= render :partial => "user_listing", :locals => {:user_id => user.id} %>
  <% end %>

</div>

<%= javascript_pack_tag 'search.js' %>


