<div id="categories">
  <button id="subreddit-category">Subreddits</button>
  <button id="post-category">Posts</button>
  <button id="user-category">Users</button>
</div>

<div id="subreddit-list">
  <% if @subreddits.empty? %>
    <p> No subreddits with this title found. </p>
  <% end %>
  
  <% @subreddits.each do |subreddit| %>
    <%= render :partial => "subreddit_listing", :locals => {:subreddit_id => subreddit.id} %>
  <% end %>

</div>

<div id="post-list">
  <% if @posts.empty? %>
    <p> No posts for this topic found. </p>
  <% end %>

  <% @posts.each do |post| %>
    <%= render :partial => "post_listing", :locals => {:post_id => post.id} %>
  <% end %>

</div>

<div id="user-list">
  <% if @users.empty? %>
    <p> No users with this username found. </p>
  <% end %>

  <% @users.each do |user| %>
    <%= render :partial => "user_listing", :locals => {:user_id => user.id} %>
  <% end %>

</div>

<%= javascript_pack_tag 'search.js' %>


